@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,500;0,800;1,300;1,500;1,800&display=swap');

:root {
    --cor0: #000000;
    --cor1: #ffffff;
    --cor2: #a52a2a;
    --cor3: #808080;
    --cor4: #;
    --cor5: #;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Barlow Condensed';
    font-style: italic;
    scroll-behavior: smooth;
}

@media(min-width: 1000px){

    body{
        overflow-x: hidden;
    }

    #detalhes{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 100vw;
        max-width: 100%;
        padding-top: 10vh;
    }

    #detalhes h3{
        font-size: 4rem;
        width: max-content;
        margin-bottom: 1rem;
    }

    h3::after{
        display: block;
        content: "";
        height: 5px;
        width: 20%;
        background-color: var(--cor2);
    }

    h3 ~ p{
        font-size: 1.8rem;
        text-indent: 2rem;
        margin-bottom: 2rem;
    }

    #detradio1, #detradio2,#detradio3 {
        display: none;
    }
    #labelradio1, #labelradio2, #labelradio3{
        display: none;
    }

    .det-contcards{
        display: flex;
        width: 100vw;
        column-gap: 5%;
        margin-bottom: 10px;
        justify-content: center;
    }

    .det-contcards div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--cor1);
        letter-spacing: 1px;
        text-align: center;
        font-weight: 500;
        width: 25vw;
        height: 70vh;
        margin-bottom: 1px;
        box-shadow: 1px 1px 6px #000000b1;
        padding: 1rem;
    }

    .det-contcards div:nth-child(1){
        background: #000000a4 url(../imagens/banners/aj-cartaz1.jpg); 
        background-position: center;
        transition: 1s;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: darken;
    }

    .det-contcards div:nth-child(1):hover{
        background: #000000de url(../imagens/banners/aj-cartaz1.jpg); 
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: darken;
    }

    .det-contcards div:nth-child(2){
        background: #000000ce url(../imagens/banners/aj-cartaz2.jpg); 
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        transition: 1s;
    }

    .det-contcards div:nth-child(2):hover{
        background: #000000de url(../imagens/banners/aj-cartaz2.jpg); 
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: darken;
    }


    .det-contcards div:nth-child(3){
        background: #000000a4 url(../imagens/banners/aj-cartaz3.jpg); 
        background-position: center;
        box-shadow: 3px 3px 6px #000000b1;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        transition: 1s;
    }

    .det-contcards div:nth-child(3):hover{
        background: #000000de url(../imagens/banners/aj-cartaz3.jpg); 
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: darken;
    }


    .detcont-card h4{
        font-size: 2.5rem;
    }

    .detcont-card p {
        font-size: 1.2rem;
    }

    .det-banner{
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--cor1);
        font-size: 3vw;
        letter-spacing: 2px;
        text-align: center;
        font-weight: 500;
        width: 100vw;
        max-width: 100%;
        height: 40vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        box-shadow: 3px 3px 6px #000000b1;
        background: #000000a4 url(../imagens/banners/tabela-bask.jpg); 
        background-position: top center;
        margin-top: 1rem;
    }

}
